@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0px;
}

#home {
    color: #6FC2F2;
}

.head {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('/images/intro-bg.png');
    background-repeat: no-repeat;
}

.get-started {
    border: 1px solid transparent;
}

.head img {
    width: 600px;
}

/* CONTENT */

.box-shadow-service {
    box-shadow: inset 3px 3px 7px #adadad3b;
}

.mobile-menu:hover~ul {
    right: 0;
}

/* -------> old */

.services table {
    width: calc(100% - 500px);
    margin: 50px auto 0px auto;
}

.services table td {
    height: 240px;
}

.right {
    float: right;
}

/* FOOTER */

footer {
    background-color: #004A99;
    color: white;
}

.uppercase {
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}

.border {
    background-color: #007BFF;
    border-radius: 50%;
    padding: 12px;
    width: 40px;
    transition: 0.2s;
}

.border:hover {
    background-color: rgba(0, 123, 255, 0.8);
    cursor: pointer;
}

.text {
    height: 35px;
    width: 200px;
}

table button {
    width: 100px;
    height: 35px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin-left: -5px;
    transition: 0.2s;
}

table button:hover {
    background-color: rgba(0, 123, 255, 0.8);
    cursor: pointer;
}

.text_dec {
    text-decoration: none;
    color: #6FC2F2;
}

.up {
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 10px 0 0 12px;
    float: right;
    transform: translateY(-45px);
    background-color: #007BFF;
    display: block;
    transition: 0.2s;
}

.up:hover {
    background-color: rgba(0, 123, 255, 0.8);
}

.why {
    margin-top: 20px;
}